<% let countMeat = 0; let countSupp = 0; let countSauce = 0; let sentenceMeat =
""; let sentenceSupp = ""; let sentenceSauce = ""; %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="icon/png" href="image/favicon.png" />
    <title>Sandwich - Cow-snack</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <header>
      <% include header.ejs %>
    </header>

    <section id="choiceSandwich">
      <div class="presentation-sandwich">
        <div class="flex-col">
          <h2>Nos Sandwich</h2>
          <div class="line"></div>
          <p class="para-sand">
            Nos délicieux sandwich sont préparés le matin même avec des
            ingrédients sélectionnés par notre grand cuisinier et maître coq
            <strong>Sebou</strong>
          </p>
        </div>
        <img src="img/main.png" width="40%" />
      </div>
      <div class="choicebutton">
        <a href="#cowmenu" onclick="opacityMenu()">
          <div id="choicemenu">
            <h3>Cow-Menu</h3>
            <p>Choisissez le sandwich de vos rêves parmi notre sélection</p>
          </div>
        </a>
        <a href="#cowcustom" onclick="opacityCustom()">
          <div id="choicecustom">
            <h3>Cow-Custom</h3>
            <p>Personnalisez votre sandwich et donnez lui un nom</p>
          </div>
        </a>
      </div>
    </section>
    <section id="cowmenu">
      <form>
        <!-- Menus -->

        <h3>Nos Menus</h3>
        <div id="menu" class="wrap">
          <%let sandwichCount = 1;%> <%printMenu.forEach((result) => { %> <%if
          (result.composition_id == sandwichCount) {%> <%sandwichCount++;%>
          <div>
            <p>
              <%=result.name.charAt(0).toUpperCase() +
              result.name.slice(1).toLowerCase()%>
            </p>
            <button
              type="button"
              class="presandwich"
              value="<%=result.composition_id%>"
              id="<%=result.name%>"
            >
              <img
                src="img/<%=result.name.toLowerCase()%>.png"
                width="100vw"
                class="vitrine"
              />
            </button>

            <div class="popupfood">
              <%printMenu.forEach((result) => { %> <%if (result.composition_id
              == (sandwichCount-1)) { if (result.type == 1) { countMeat == 0 ?
              sentenceMeat += result.label : sentenceMeat += ", "+result.label;
              countMeat++; } else if (result.type == 2) { countSupp == 0 ?
              sentenceSupp += result.label : sentenceSupp += ", "+result.label;
              countSupp++; } else if (result.type == 3) { countSauce == 0 ?
              sentenceSauce += result.label : sentenceSupp += ", "+result.label;
              } }%> <%});%> <%if (sentenceMeat != "") {%>
              <p>&#8226; &nbsp <%=sentenceMeat%></p>
              <%}%> <%if (sentenceSupp != "") {%>
              <p>&#8226; &nbsp <%=sentenceSupp%></p>
              <%}%> <%if (sentenceSauce != "") {%>
              <p>&#8226; &nbsp <%=sentenceSauce%></p>
              <%}%> <%if (sentenceMeat == "" || sentenceSupp == "" ||
              sentenceSauce == ""){%>
              <p></p>
              <%}%> <% sentenceMeat = sentenceSupp = sentenceSauce = "";
              countMeat = countSupp = countSauce = 0; %>
            </div>
          </div>
          <%} });%>
        </div>
        <!-- Taille -->
        <h3>Tailles</h3>
        <div class="flex-row wrap size">
          <div>
            <input
              type="radio"
              name="taille"
              value="small"
              id="small"
              checked
            />
            <label class="radioSize" for="small">S</label>
            <p>Tiers</p>
          </div>
          <div>
            <input type="radio" name="taille" value="medium" id="medium" />
            <label class="radioSize" for="medium">M</label>
            <p>Demi</p>
          </div>
          <div>
            <input type="radio" name="taille" value="large" id="large" />
            <label class="radioSize" for="large">L</label>
            <p>Baguette</p>
          </div>
        </div>

        <!-- Prix -->
        <div class="submite">
          <input
            type="button"
            name=""
            value="😋 Poursuivre la commande"
            id="menusubmit"
          />
        </div>
      </form>
    </section>
    <section id="cowcustom">
      <script>
        let allMeat = [];
        let allSupp = [];
        let allSauce = [];
      </script>
      <form>
        <!-- Viandes -->
        <div class="flex-row title">
          <h3>Viandes</h3>
          <h6>&nbsp(2 max)</h6>
        </div>
        <div id="viande" class="flex-row wrap pad-200">
          <% print.forEach((result) => { %> <%if (result.type == 1) { %>
          <div>
            <button
              type="button"
              class="selecteurViande"
              value="selected<%=result.id%>"
            >
              <img src="img/<%=result.slug%>.png" width="100vw" />
            </button>
            <p><%=result.label%></p>
          </div>
          <script>
            eval("selected" + "<%=result.id%>" + " = false");
            allMeat.push("selected" + "<%=result.id%>");
          </script>
          <%}%> <% }); %>
        </div>

        <div class="cont-compteur">
          <div class="compteur" id="compteurViande">0</div>
          <p id="viandeLimit"></p>
        </div>

        <!-- Suppléments -->
        <div class="flex-row title">
          <h3>Suppléments</h3>
          <h6>&nbsp(2 max)</h6>
        </div>
        <div id="supplement" class="flex-row wrap pad-200">
          <% print.forEach((result) => { %> <%if (result.type == 2) { %>
          <div>
            <button
              type="button"
              class="selecteurSupp"
              value="selected<%=result.id%>"
            >
              <img src="img/<%=result.slug%>.png" width="100vw" />
            </button>
            <p><%=result.label%></p>
          </div>
          <script>
            eval("selected" + "<%=result.id%>" + " = false");
            allSupp.push("selected" + "<%=result.id%>");
          </script>
          <%}%> <% }); %>
        </div>

        <div class="cont-compteur">
          <div class="compteur" id="compteurSupp">0</div>
          <p id="suppLimit"></p>
        </div>

        <!-- Sauces -->
        <div class="flex-row title">
          <h3>Sauces</h3>
          <h6>&nbsp(3 max)</h6>
        </div>
        <div id="sauce" class="flex-row wrap pad-200">
          <% print.forEach((result) => {%> <%if (result.type == 3) {%>
          <div>
            <button
              type="button"
              class="selecteurSauce"
              value="selected<%=result.id%>"
            >
              <img src="img/<%=result.slug%>.png" width="100vw" />
            </button>
            <p><%=result.label%></p>
          </div>
          <script>
            eval("selected" + "<%=result.id%>" + " = false");
            allSauce.push("selected" + "<%=result.id%>");
          </script>
          <%}%> <% }); %>
        </div>

        <div class="cont-compteur">
          <div class="compteur" id="compteurSauce">0</div>
          <p id="sauceLimit"></p>
        </div>

        <!-- Taille -->
        <h3 class="title">Tailles</h3>
        <div class="flex-row wrap size">
          <div>
            <input
              type="radio"
              name="taille2"
              value="small"
              id="small2"
              checked="true"
            />
            <label class="radioSize" for="small2">S</label>
            <p>Tiers</p>
          </div>
          <div>
            <input type="radio" name="taille2" value="medium" id="medium2" />
            <label class="radioSize" for="medium2">M</label>
            <p>Demi</p>
          </div>
          <div>
            <input type="radio" name="taille2" value="large" id="large2" />
            <label class="radioSize" for="large2">L</label>
            <p>Baguette</p>
          </div>
        </div>
        <!-- Prix -->
        <div class="prix">
          <!-- Nom du Sandwich -->

          <div class="nameSandwich">
            <h5>Donnez un nom à votre sandwich 😉</h5>
            <input type="text" id="sandwichName" class="name" />
            <p>Le nom du sandwich doit commencer par COW-</p>
          </div>
          <div class="nameSandwich">
            <h5>
              Des précisions sur votre Sandwich <span class="red">?</span>
            </h5>
            <input type="text" name="" id="customPrecision" class="name" />
            <p>Une cuisson spécifique, une plus petite quantité, ...</p>
          </div>
        </div>

        <div class="submite">
          <input
            type="button"
            value="😋 Poursuivre la commande"
            id="customsubmit"
          />
        </div>
      </form>
    </section>

    <footer>
      <% include footer %>
    </footer>
  </body>
  <script src="js/jquery-3.4.1.min.js"></script>
  <% printSize.forEach((result) => { %>
  <script>
    eval("<%=result.size_slug%>" + " = " + "<%=result.price%>");
  </script>
  <% }); %>
  <script src="js/command.js"></script>
</html>
